body {
  font-family: Verdana, Arial, sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 16px;
  text-align: left;
}

th {
  background-color: #b7d0ff;
  font-weight: bold;
  padding: 12px 0px 12px 6px;
  border-bottom: 2px solid gray;
}

td {
  padding: 6px;
  border-bottom: 1px solid gray;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:not(:nth-child(even)):not(:first-child) {
  background-color: #ffffff;
}
